/* line 1, /Users/MrG/Sites/fontbook/scss/theme.scss */
body {
  overflow-x: hidden; }

/* Toggle Styles */
/* line 7, /Users/MrG/Sites/fontbook/scss/theme.scss */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/* line 15, /Users/MrG/Sites/fontbook/scss/theme.scss */
#wrapper.toggled {
  padding-left: 250px; }

/* line 19, /Users/MrG/Sites/fontbook/scss/theme.scss */
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/* line 34, /Users/MrG/Sites/fontbook/scss/theme.scss */
#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

/* line 38, /Users/MrG/Sites/fontbook/scss/theme.scss */
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

/* line 44, /Users/MrG/Sites/fontbook/scss/theme.scss */
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

/* Sidebar Styles */
/* line 51, /Users/MrG/Sites/fontbook/scss/theme.scss */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0 20px;
  list-style: none; }

/* line 60, /Users/MrG/Sites/fontbook/scss/theme.scss */
.sidebar-nav li {
  line-height: 40px;
  list-style: none; }

/* line 65, /Users/MrG/Sites/fontbook/scss/theme.scss */
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999; }

/* line 71, /Users/MrG/Sites/fontbook/scss/theme.scss */
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

/* line 78, /Users/MrG/Sites/fontbook/scss/theme.scss */
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

/* line 82, /Users/MrG/Sites/fontbook/scss/theme.scss */
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

/* line 88, /Users/MrG/Sites/fontbook/scss/theme.scss */
.sidebar-nav > .sidebar-brand a {
  color: #999999; }

/* line 92, /Users/MrG/Sites/fontbook/scss/theme.scss */
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

@media (min-width: 768px) {
  /* line 98, /Users/MrG/Sites/fontbook/scss/theme.scss */
  #wrapper {
    padding-left: 250px; }
  /* line 102, /Users/MrG/Sites/fontbook/scss/theme.scss */
  #wrapper.toggled {
    padding-left: 0; }
  /* line 106, /Users/MrG/Sites/fontbook/scss/theme.scss */
  #sidebar-wrapper {
    width: 250px; }
  /* line 110, /Users/MrG/Sites/fontbook/scss/theme.scss */
  #wrapper.toggled #sidebar-wrapper {
    width: 0; }
  /* line 114, /Users/MrG/Sites/fontbook/scss/theme.scss */
  #page-content-wrapper {
    padding: 20px;
    position: relative; }
  /* line 119, /Users/MrG/Sites/fontbook/scss/theme.scss */
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }

/* line 126, /Users/MrG/Sites/fontbook/scss/theme.scss */
#sidebar-wrapper {
  color: #fff; }

/* line 129, /Users/MrG/Sites/fontbook/scss/theme.scss */
#sidebar-wrapper .list-group-item {
  padding: 0; }

/* line 133, /Users/MrG/Sites/fontbook/scss/theme.scss */
.tools .zoom {
  border: none;
  padding: 0px;
  margin: 0px; }

/* line 138, /Users/MrG/Sites/fontbook/scss/theme.scss */
.tools .btn .form-control {
  width: auto;
  max-width: 75px;
  border-radius: 0;
  box-shadow: none;
  margin: 0px;
  padding-top: 0;
  padding-bottom: 0; }

/* line 149, /Users/MrG/Sites/fontbook/scss/theme.scss */
.wf-loading,
.wf-inactive {
  font-family: arial, sans-serif; }

/* line 152, /Users/MrG/Sites/fontbook/scss/theme.scss */
span[contenteditable] {
  outline: none;
  /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */ }

/* line 161, /Users/MrG/Sites/fontbook/scss/theme.scss */
.panel-collapse h1,
.panel-collapse h3,
.panel-collapse p {
  padding-bottom: 10px;
  /* Need to fix it */
  white-space: nowrap;
  overflow-y: hidden;
  text-overflow: ellipsis; }

/* line 169, /Users/MrG/Sites/fontbook/scss/theme.scss */
#headingOne,
#collapseOne {
  font-family: 'Alegreya', sans-serif; }

/* line 173, /Users/MrG/Sites/fontbook/scss/theme.scss */
#headingTwo,
#collapseTwo {
  font-family: 'Coiny', sans-serif; }

/* line 177, /Users/MrG/Sites/fontbook/scss/theme.scss */
#headingThree,
#collapseThree {
  font-family: 'Acme', sans-serif; }

/* line 182, /Users/MrG/Sites/fontbook/scss/theme.scss */
.panel-collapse .list-group-item .label {
  background-color: #ccc; }

/* line 186, /Users/MrG/Sites/fontbook/scss/theme.scss */
.panel-collapse .list-group-item .btn-group .btn {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 80%; }

/* line 193, /Users/MrG/Sites/fontbook/scss/theme.scss */
.panel-title {
  font-size: 220%; }

/* line 196, /Users/MrG/Sites/fontbook/scss/theme.scss */
.panel-title [type="checkbox"] {
  zoom: 200%; }

/* line 199, /Users/MrG/Sites/fontbook/scss/theme.scss */
.panel-footer {
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 90%; }

/* line 204, /Users/MrG/Sites/fontbook/scss/theme.scss */
.list-group li:nth-child(1) {
  font-weight: 400; }

/* line 207, /Users/MrG/Sites/fontbook/scss/theme.scss */
.list-group li:nth-child(2) {
  font-weight: 400;
  font-style: italic; }

/* line 211, /Users/MrG/Sites/fontbook/scss/theme.scss */
.list-group li:nth-child(3) {
  font-weight: 700; }

/* line 214, /Users/MrG/Sites/fontbook/scss/theme.scss */
.list-group li:nth-child(4) {
  font-weight: 700;
  font-style: italic; }

/* line 218, /Users/MrG/Sites/fontbook/scss/theme.scss */
.list-group li:nth-child(5) {
  font-weight: 900; }

/* line 221, /Users/MrG/Sites/fontbook/scss/theme.scss */
.list-group li:nth-child(6) {
  font-weight: 900;
  font-style: italic; }

/*# sourceMappingURL=theme.css.map */