/* scss/Base/_color.scss */

$white: #FFFFFF;
$color1: #DB4337;
$color2: #cc3428;

.color1{
  background: $color1;
}
.color2{
  background: $color2;
}

.colors:before,
.colors:after {
  content: " ";
  display: table;
}

.colors:after {
  clear: both;
}
.colors {
  *zoom: 1;
}
.color{
  width:100px;
  height:100px;
  float:left;
  margin-right:10px;
  padding:10px;
  color:#fff;
  font-size:12px;
}

.colorFixed{
  position: fixed;
  z-index: 3000;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.57);
  .color{
    float: none;
    margin-right:0;
    width:70px;
    height:50px;
  }
}