{
  "name": "fontbook",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "guideline",
      "guideline/components",
      "guideline/components/editor"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "guideline/scss/main.scss",
      "imports": [
        "guideline/scss/base/_base.scss",
        "guideline/scss/modules/_modules.scss",
        "guideline/scss/media/_media.scss",
        "guideline/scss/jsExample/_jsExample.scss",
        "guideline/scss/editor/_editor.scss",
        "guideline/scss/base/_font.scss",
        "guideline/scss/base/_color.scss",
        "guideline/scss/modules/_box.scss",
        "guideline/scss/media/_image.scss",
        "guideline/scss/jsExample/_clickme.scss",
        "guideline/scss/editor/_skin.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/htdocs/fontbook",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "ftp.getapp.it",
      "port": 21,
      "user": "getapp.it",
      "password": "aehahshe"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "params.json",
        "ctime": "2018-03-09T22:13:55.522Z",
        "mtime": "2018-03-09T21:58:35.589Z",
        "size": 238
      },
      {
        "file": "guideline/index.php",
        "ctime": "2018-03-09T22:05:24.997Z",
        "mtime": "2018-03-09T22:05:24.997Z",
        "size": 1606
      },
      {
        "file": "guideline/atomic-core/index.php",
        "ctime": "2018-03-09T23:01:25.921Z",
        "mtime": "2018-03-09T23:01:25.921Z",
        "size": 21400
      },
      {
        "file": "guideline/css/main.css",
        "ctime": "2018-03-10T00:12:22.986Z",
        "mtime": "2018-03-10T00:12:22.986Z",
        "size": 1720
      },
      {
        "file": "guideline/.gitignore",
        "ctime": "2018-03-09T22:05:09.686Z",
        "mtime": "2018-03-09T22:05:09.686Z",
        "size": 33
      },
      {
        "file": "guideline/atomic-foot.php",
        "ctime": "2018-03-09T22:05:24.966Z",
        "mtime": "2018-03-09T22:05:24.966Z",
        "size": 181
      },
      {
        "file": "guideline/atomic-head.php",
        "ctime": "2018-03-09T22:05:24.968Z",
        "mtime": "2018-03-09T22:05:24.968Z",
        "size": 192
      },
      {
        "file": "guideline/LICENSE",
        "ctime": "2018-03-09T22:05:09.821Z",
        "mtime": "2018-03-09T22:05:09.821Z",
        "size": 35815
      },
      {
        "file": "guideline/atomic-core/clientmode.php",
        "ctime": "2018-03-09T22:05:09.870Z",
        "mtime": "2018-03-09T22:05:09.870Z",
        "size": 2281
      },
      {
        "file": "guideline/atomic-core/copy.php",
        "ctime": "2018-03-09T22:05:09.873Z",
        "mtime": "2018-03-09T22:05:09.873Z",
        "size": 9178
      },
      {
        "file": "guideline/atomic-core/fllat.php",
        "ctime": "2018-03-09T22:05:10.038Z",
        "mtime": "2018-03-09T22:05:10.038Z",
        "size": 12131
      },
      {
        "file": "guideline/atomic-core/footer.php",
        "ctime": "2018-03-09T22:05:11.484Z",
        "mtime": "2018-03-09T22:05:11.484Z",
        "size": 7627
      },
      {
        "file": "guideline/atomic-core/GulpFile.js",
        "ctime": "2018-03-09T22:05:09.867Z",
        "mtime": "2018-03-09T22:05:09.867Z",
        "size": 2073
      },
      {
        "file": "guideline/atomic-core/head.php",
        "ctime": "2018-03-09T22:05:11.486Z",
        "mtime": "2018-03-09T22:05:11.486Z",
        "size": 1457
      },
      {
        "file": "guideline/atomic-core/importer.php",
        "ctime": "2018-03-09T22:05:12.050Z",
        "mtime": "2018-03-09T22:05:12.050Z",
        "size": 1858
      },
      {
        "file": "guideline/atomic-core/index-bu.php",
        "ctime": "2018-03-09T22:05:12.052Z",
        "mtime": "2018-03-09T22:05:12.052Z",
        "size": 19285
      },
      {
        "file": "guideline/atomic-core/package.json",
        "ctime": "2018-03-09T22:05:21.272Z",
        "mtime": "2018-03-09T22:05:21.272Z",
        "size": 451
      },
      {
        "file": "guideline/atomic-core/partial.php",
        "ctime": "2018-03-09T22:05:21.275Z",
        "mtime": "2018-03-09T22:05:21.275Z",
        "size": 1110
      },
      {
        "file": "guideline/atomic-core/sidebar.php",
        "ctime": "2018-03-09T22:05:24.173Z",
        "mtime": "2018-03-09T22:05:24.173Z",
        "size": 1128
      },
      {
        "file": "guideline/atomic-core/user_config.php",
        "ctime": "2018-03-09T22:05:24.316Z",
        "mtime": "2018-03-09T22:05:24.316Z",
        "size": 199
      },
      {
        "file": "guideline/atomic-db/.gitignore",
        "ctime": "2018-03-09T22:05:24.955Z",
        "mtime": "2018-03-09T22:05:24.955Z",
        "size": 0
      },
      {
        "file": "guideline/atomic-db/categories.dat",
        "ctime": "2018-03-10T00:06:09.649Z",
        "mtime": "2018-03-10T00:06:09.649Z",
        "size": 313
      },
      {
        "file": "guideline/atomic-db/components.dat",
        "ctime": "2018-03-10T00:06:16.750Z",
        "mtime": "2018-03-10T00:06:16.750Z",
        "size": 1404
      },
      {
        "file": "guideline/atomic-db/settings.dat",
        "ctime": "2018-03-09T22:05:24.965Z",
        "mtime": "2018-03-09T22:05:24.965Z",
        "size": 238
      },
      {
        "file": "guideline/components/.keep",
        "ctime": "2018-03-09T22:05:24.976Z",
        "mtime": "2018-03-09T22:05:24.976Z",
        "size": 0
      },
      {
        "file": "guideline/css/site.css",
        "ctime": "2018-03-09T22:05:24.995Z",
        "mtime": "2018-03-09T22:05:24.995Z",
        "size": 47288
      },
      {
        "file": "guideline/js/clickme.js",
        "ctime": "2018-03-09T22:05:25.000Z",
        "mtime": "2018-03-09T22:05:25.000Z",
        "size": 101
      },
      {
        "file": "guideline/js/main.js",
        "ctime": "2018-03-09T22:05:25.001Z",
        "mtime": "2018-03-09T22:05:25.001Z",
        "size": 0
      },
      {
        "file": "guideline/js/row.js",
        "ctime": "2018-03-09T22:05:25.006Z",
        "mtime": "2018-03-09T22:05:25.006Z",
        "size": 15
      },
      {
        "file": "guideline/atomic-core/css/main.css",
        "ctime": "2018-03-09T22:05:09.882Z",
        "mtime": "2018-03-09T22:05:09.882Z",
        "size": 43179
      },
      {
        "file": "guideline/atomic-core/css/site.css",
        "ctime": "2018-03-09T22:05:09.884Z",
        "mtime": "2018-03-09T22:05:09.884Z",
        "size": 47000
      },
      {
        "file": "guideline/atomic-core/db-inc/dbinc.php",
        "ctime": "2018-03-09T22:05:10.033Z",
        "mtime": "2018-03-09T22:05:10.033Z",
        "size": 404
      },
      {
        "file": "guideline/atomic-core/font-awesome/HELP-US-OUT.txt",
        "ctime": "2018-03-09T22:05:10.044Z",
        "mtime": "2018-03-09T22:05:10.044Z",
        "size": 325
      },
      {
        "file": "guideline/atomic-core/img/circle.gif",
        "ctime": "2018-03-09T22:05:11.490Z",
        "mtime": "2018-03-09T22:05:11.490Z",
        "size": 32915
      },
      {
        "file": "guideline/atomic-core/img/demo1.gif",
        "ctime": "2018-03-09T22:05:11.633Z",
        "mtime": "2018-03-09T22:05:11.633Z",
        "size": 1314845
      },
      {
        "file": "guideline/atomic-core/img/doc1.png",
        "ctime": "2018-03-09T22:05:11.635Z",
        "mtime": "2018-03-09T22:05:11.635Z",
        "size": 16771
      },
      {
        "file": "guideline/atomic-core/img/doc2.png",
        "ctime": "2018-03-09T22:05:11.637Z",
        "mtime": "2018-03-09T22:05:11.637Z",
        "size": 14287
      },
      {
        "file": "guideline/atomic-core/img/doc3.png",
        "ctime": "2018-03-09T22:05:11.639Z",
        "mtime": "2018-03-09T22:05:11.639Z",
        "size": 25919
      },
      {
        "file": "guideline/atomic-core/img/doc4.png",
        "ctime": "2018-03-09T22:05:11.642Z",
        "mtime": "2018-03-09T22:05:11.642Z",
        "size": 31297
      },
      {
        "file": "guideline/atomic-core/img/doc5.png",
        "ctime": "2018-03-09T22:05:11.670Z",
        "mtime": "2018-03-09T22:05:11.670Z",
        "size": 128624
      },
      {
        "file": "guideline/atomic-core/img/document.png",
        "ctime": "2018-03-09T22:05:11.685Z",
        "mtime": "2018-03-09T22:05:11.685Z",
        "size": 67871
      },
      {
        "file": "guideline/atomic-core/img/drag-demo.gif",
        "ctime": "2018-03-09T22:05:11.766Z",
        "mtime": "2018-03-09T22:05:11.766Z",
        "size": 323337
      },
      {
        "file": "guideline/atomic-core/img/editor-gif.gif",
        "ctime": "2018-03-09T22:05:11.772Z",
        "mtime": "2018-03-09T22:05:11.772Z",
        "size": 385313
      },
      {
        "file": "guideline/atomic-core/img/helpful.png",
        "ctime": "2018-03-09T22:05:11.936Z",
        "mtime": "2018-03-09T22:05:11.936Z",
        "size": 62493
      },
      {
        "file": "guideline/atomic-core/img/logo.png",
        "ctime": "2018-03-09T22:05:11.939Z",
        "mtime": "2018-03-09T22:05:11.939Z",
        "size": 15399
      },
      {
        "file": "guideline/atomic-core/img/manage.gif",
        "ctime": "2018-03-09T22:05:12.037Z",
        "mtime": "2018-03-09T22:05:12.037Z",
        "size": 258240
      },
      {
        "file": "guideline/atomic-core/img/organize.png",
        "ctime": "2018-03-09T22:05:12.047Z",
        "mtime": "2018-03-09T22:05:12.047Z",
        "size": 19580
      },
      {
        "file": "guideline/atomic-core/img/settings.png",
        "ctime": "2018-03-09T22:05:12.048Z",
        "mtime": "2018-03-09T22:05:12.048Z",
        "size": 18426
      },
      {
        "file": "guideline/atomic-core/js/ajax-category.js",
        "ctime": "2018-03-09T22:05:12.097Z",
        "mtime": "2018-03-09T22:05:12.097Z",
        "size": 2179
      },
      {
        "file": "guideline/atomic-core/js/ajax-component.js",
        "ctime": "2018-03-09T22:05:12.105Z",
        "mtime": "2018-03-09T22:05:12.105Z",
        "size": 5653
      },
      {
        "file": "guideline/atomic-core/js/ajax-edit-category.js",
        "ctime": "2018-03-09T22:05:12.112Z",
        "mtime": "2018-03-09T22:05:12.112Z",
        "size": 4234
      },
      {
        "file": "guideline/atomic-core/js/ajax-edit-component.js",
        "ctime": "2018-03-09T22:05:12.114Z",
        "mtime": "2018-03-09T22:05:12.114Z",
        "size": 5660
      },
      {
        "file": "guideline/atomic-core/js/ajax-edit-settings.js",
        "ctime": "2018-03-09T22:05:12.116Z",
        "mtime": "2018-03-09T22:05:12.116Z",
        "size": 2968
      },
      {
        "file": "guideline/atomic-core/js/ajax-import.js",
        "ctime": "2018-03-09T22:05:12.120Z",
        "mtime": "2018-03-09T22:05:12.120Z",
        "size": 1749
      },
      {
        "file": "guideline/atomic-core/js/ajax-jsfile.js",
        "ctime": "2018-03-09T22:05:12.122Z",
        "mtime": "2018-03-09T22:05:12.122Z",
        "size": 175
      },
      {
        "file": "guideline/atomic-core/js/ajax-nav-sort.js",
        "ctime": "2018-03-09T22:05:12.123Z",
        "mtime": "2018-03-09T22:05:12.123Z",
        "size": 5464
      },
      {
        "file": "guideline/atomic-core/js/ajax-temp-editor.js",
        "ctime": "2018-03-09T22:05:12.125Z",
        "mtime": "2018-03-09T22:05:12.125Z",
        "size": 2014
      },
      {
        "file": "guideline/atomic-core/js/animateHeight.js",
        "ctime": "2018-03-09T22:05:12.127Z",
        "mtime": "2018-03-09T22:05:12.127Z",
        "size": 2
      },
      {
        "file": "guideline/atomic-core/js/bootstrap.min.js",
        "ctime": "2018-03-09T22:05:12.128Z",
        "mtime": "2018-03-09T22:05:12.128Z",
        "size": 29115
      },
      {
        "file": "guideline/atomic-core/js/drag-drop.js",
        "ctime": "2018-03-09T22:05:12.129Z",
        "mtime": "2018-03-09T22:05:12.129Z",
        "size": 4
      },
      {
        "file": "guideline/atomic-core/js/editable-content.js",
        "ctime": "2018-03-09T22:05:12.132Z",
        "mtime": "2018-03-09T22:05:12.132Z",
        "size": 1029
      },
      {
        "file": "guideline/atomic-core/js/editor-stuff.js",
        "ctime": "2018-03-09T22:05:12.139Z",
        "mtime": "2018-03-09T22:05:12.139Z",
        "size": 1346
      },
      {
        "file": "guideline/atomic-core/js/enquire.js",
        "ctime": "2018-03-09T22:05:12.141Z",
        "mtime": "2018-03-09T22:05:12.141Z",
        "size": 9923
      },
      {
        "file": "guideline/atomic-core/js/formShowHide.js",
        "ctime": "2018-03-09T22:05:12.141Z",
        "mtime": "2018-03-09T22:05:12.141Z",
        "size": 0
      },
      {
        "file": "guideline/atomic-core/js/fuzzysearch.js",
        "ctime": "2018-03-09T22:05:12.226Z",
        "mtime": "2018-03-09T22:05:12.226Z",
        "size": 29885
      },
      {
        "file": "guideline/atomic-core/js/hideAll.js",
        "ctime": "2018-03-09T22:05:12.236Z",
        "mtime": "2018-03-09T22:05:12.236Z",
        "size": 1569
      },
      {
        "file": "guideline/atomic-core/js/hideCode.js",
        "ctime": "2018-03-09T22:05:12.238Z",
        "mtime": "2018-03-09T22:05:12.238Z",
        "size": 779
      },
      {
        "file": "guideline/atomic-core/js/hideNave.js",
        "ctime": "2018-03-09T22:05:12.239Z",
        "mtime": "2018-03-09T22:05:12.239Z",
        "size": 932
      },
      {
        "file": "guideline/atomic-core/js/hideNotes.js",
        "ctime": "2018-03-09T22:05:12.254Z",
        "mtime": "2018-03-09T22:05:12.254Z",
        "size": 631
      },
      {
        "file": "guideline/atomic-core/js/hideTitle.js",
        "ctime": "2018-03-09T22:05:12.255Z",
        "mtime": "2018-03-09T22:05:12.255Z",
        "size": 497
      },
      {
        "file": "guideline/atomic-core/js/lazysizes.js",
        "ctime": "2018-03-09T22:05:12.257Z",
        "mtime": "2018-03-09T22:05:12.257Z",
        "size": 6428
      },
      {
        "file": "guideline/atomic-core/js/list.js",
        "ctime": "2018-03-09T22:05:12.260Z",
        "mtime": "2018-03-09T22:05:12.260Z",
        "size": 15953
      },
      {
        "file": "guideline/atomic-core/js/navSmall.js",
        "ctime": "2018-03-09T22:05:12.324Z",
        "mtime": "2018-03-09T22:05:12.324Z",
        "size": 955
      },
      {
        "file": "guideline/atomic-core/js/prism-builder.js",
        "ctime": "2018-03-09T22:05:12.328Z",
        "mtime": "2018-03-09T22:05:12.328Z",
        "size": 8
      },
      {
        "file": "guideline/atomic-core/js/prism.js",
        "ctime": "2018-03-09T22:05:12.330Z",
        "mtime": "2018-03-09T22:05:12.330Z",
        "size": 6975
      },
      {
        "file": "guideline/atomic-core/js/searchUi.js",
        "ctime": "2018-03-09T22:05:12.332Z",
        "mtime": "2018-03-09T22:05:12.332Z",
        "size": 907
      },
      {
        "file": "guideline/atomic-core/js/slideAnimation.js",
        "ctime": "2018-03-09T22:05:12.334Z",
        "mtime": "2018-03-09T22:05:12.334Z",
        "size": 1168
      },
      {
        "file": "guideline/atomic-core/js/spectrum-picker.js",
        "ctime": "2018-03-09T22:05:12.338Z",
        "mtime": "2018-03-09T22:05:12.338Z",
        "size": 81872
      },
      {
        "file": "guideline/atomic-core/js/uncomment.js",
        "ctime": "2018-03-09T22:05:21.018Z",
        "mtime": "2018-03-09T22:05:21.018Z",
        "size": 1397
      },
      {
        "file": "guideline/atomic-core/js/velocity-ui.js",
        "ctime": "2018-03-09T22:05:21.035Z",
        "mtime": "2018-03-09T22:05:21.035Z",
        "size": 35523
      },
      {
        "file": "guideline/atomic-core/js/velocity.js",
        "ctime": "2018-03-09T22:05:21.038Z",
        "mtime": "2018-03-09T22:05:21.038Z",
        "size": 218851
      },
      {
        "file": "guideline/atomic-core/js/_expand-form.js",
        "ctime": "2018-03-09T22:05:12.095Z",
        "mtime": "2018-03-09T22:05:12.095Z",
        "size": 1374
      },
      {
        "file": "guideline/atomic-core/min/GulpFile.min.js",
        "ctime": "2018-03-09T22:05:21.256Z",
        "mtime": "2018-03-09T22:05:21.256Z",
        "size": 1034
      },
      {
        "file": "guideline/atomic-core/temp-forms/temp-category-form.php",
        "ctime": "2018-03-09T22:05:24.194Z",
        "mtime": "2018-03-09T22:05:24.194Z",
        "size": 669
      },
      {
        "file": "guideline/atomic-core/temp-forms/temp-create-component-form.php",
        "ctime": "2018-03-09T22:05:24.203Z",
        "mtime": "2018-03-09T22:05:24.203Z",
        "size": 1443
      },
      {
        "file": "guideline/atomic-core/temp-forms/temp-edit-category-form.php",
        "ctime": "2018-03-09T22:05:24.205Z",
        "mtime": "2018-03-09T22:05:24.205Z",
        "size": 1128
      },
      {
        "file": "guideline/atomic-core/temp-forms/temp-edit-component-form.php",
        "ctime": "2018-03-09T22:05:24.208Z",
        "mtime": "2018-03-09T22:05:24.208Z",
        "size": 1835
      },
      {
        "file": "guideline/atomic-core/temp-forms/temp-edit-settings-form.php",
        "ctime": "2018-03-09T22:05:24.210Z",
        "mtime": "2018-03-09T22:05:24.210Z",
        "size": 1499
      },
      {
        "file": "guideline/atomic-core/temp-functions/create-category-functions.php",
        "ctime": "2018-03-09T22:05:24.215Z",
        "mtime": "2018-03-09T22:05:24.215Z",
        "size": 1182
      },
      {
        "file": "guideline/atomic-core/temp-functions/create-component-functions.php",
        "ctime": "2018-03-09T22:05:24.217Z",
        "mtime": "2018-03-09T22:05:24.217Z",
        "size": 3701
      },
      {
        "file": "guideline/atomic-core/temp-functions/db-functions.php",
        "ctime": "2018-03-09T22:05:24.220Z",
        "mtime": "2018-03-09T22:05:24.220Z",
        "size": 2001
      },
      {
        "file": "guideline/atomic-core/temp-functions/delete-category-functions.php",
        "ctime": "2018-03-09T22:05:24.231Z",
        "mtime": "2018-03-09T22:05:24.231Z",
        "size": 1683
      },
      {
        "file": "guideline/atomic-core/temp-functions/delete-component-functions.php",
        "ctime": "2018-03-09T22:05:24.233Z",
        "mtime": "2018-03-09T22:05:24.233Z",
        "size": 1698
      },
      {
        "file": "guideline/atomic-core/temp-functions/edit-category-functions.php",
        "ctime": "2018-03-09T22:05:24.235Z",
        "mtime": "2018-03-09T22:05:24.235Z",
        "size": 2520
      },
      {
        "file": "guideline/atomic-core/temp-functions/edit-component-functions.php",
        "ctime": "2018-03-09T22:05:24.236Z",
        "mtime": "2018-03-09T22:05:24.236Z",
        "size": 4159
      },
      {
        "file": "guideline/atomic-core/temp-functions/edit-settings-functions.php",
        "ctime": "2018-03-09T22:05:24.254Z",
        "mtime": "2018-03-09T22:05:24.254Z",
        "size": 4004
      },
      {
        "file": "guideline/atomic-core/temp-functions/functions.php",
        "ctime": "2018-03-09T22:05:24.255Z",
        "mtime": "2018-03-09T22:05:24.255Z",
        "size": 484
      },
      {
        "file": "guideline/atomic-core/temp-functions/import-functions.php",
        "ctime": "2018-03-09T22:05:24.257Z",
        "mtime": "2018-03-09T22:05:24.257Z",
        "size": 3096
      },
      {
        "file": "guideline/atomic-core/temp-functions/sort-functions.php",
        "ctime": "2018-03-09T22:05:24.258Z",
        "mtime": "2018-03-09T22:05:24.258Z",
        "size": 3480
      },
      {
        "file": "guideline/atomic-core/temp-functions/validation.php",
        "ctime": "2018-03-09T22:05:24.263Z",
        "mtime": "2018-03-09T22:05:24.263Z",
        "size": 219
      },
      {
        "file": "guideline/atomic-core/temp-processing/temp-create-category.php",
        "ctime": "2018-03-09T22:05:24.266Z",
        "mtime": "2018-03-09T22:05:24.266Z",
        "size": 968
      },
      {
        "file": "guideline/atomic-core/temp-processing/temp-create-component.php",
        "ctime": "2018-03-09T22:05:24.270Z",
        "mtime": "2018-03-09T22:05:24.270Z",
        "size": 3981
      },
      {
        "file": "guideline/atomic-core/temp-processing/temp-create-jsfile.php",
        "ctime": "2018-03-09T22:05:24.283Z",
        "mtime": "2018-03-09T22:05:24.283Z",
        "size": 489
      },
      {
        "file": "guideline/atomic-core/temp-processing/temp-delete-category.php",
        "ctime": "2018-03-09T22:05:24.285Z",
        "mtime": "2018-03-09T22:05:24.285Z",
        "size": 1264
      },
      {
        "file": "guideline/atomic-core/temp-processing/temp-delete-component.php",
        "ctime": "2018-03-09T22:05:24.297Z",
        "mtime": "2018-03-09T22:05:24.297Z",
        "size": 793
      },
      {
        "file": "guideline/atomic-core/temp-processing/temp-edit-category.php",
        "ctime": "2018-03-09T22:05:24.298Z",
        "mtime": "2018-03-09T22:05:24.298Z",
        "size": 1134
      },
      {
        "file": "guideline/atomic-core/temp-processing/temp-edit-component.php",
        "ctime": "2018-03-09T22:05:24.300Z",
        "mtime": "2018-03-09T22:05:24.300Z",
        "size": 1764
      },
      {
        "file": "guideline/atomic-core/temp-processing/temp-edit-settings.php",
        "ctime": "2018-03-09T22:05:24.302Z",
        "mtime": "2018-03-09T22:05:24.302Z",
        "size": 1950
      },
      {
        "file": "guideline/atomic-core/temp-processing/temp-editor.php",
        "ctime": "2018-03-09T22:05:24.305Z",
        "mtime": "2018-03-09T22:05:24.305Z",
        "size": 2116
      },
      {
        "file": "guideline/atomic-core/temp-processing/temp-import.php",
        "ctime": "2018-03-09T22:05:24.308Z",
        "mtime": "2018-03-09T22:05:24.308Z",
        "size": 1494
      },
      {
        "file": "guideline/atomic-core/temp-processing/temp-nav-cat-sort.php",
        "ctime": "2018-03-09T22:05:24.309Z",
        "mtime": "2018-03-09T22:05:24.309Z",
        "size": 520
      },
      {
        "file": "guideline/atomic-core/temp-processing/temp-nav-comp-sort.php",
        "ctime": "2018-03-09T22:05:24.311Z",
        "mtime": "2018-03-09T22:05:24.311Z",
        "size": 568
      },
      {
        "file": "guideline/atomic-core/temp-processing/temp-nav-compCat-sort.php",
        "ctime": "2018-03-09T22:05:24.314Z",
        "mtime": "2018-03-09T22:05:24.314Z",
        "size": 1557
      },
      {
        "file": "guideline/atomic-core/vendor/jquery.js",
        "ctime": "2018-03-09T22:05:24.670Z",
        "mtime": "2018-03-09T22:05:24.670Z",
        "size": 86719
      },
      {
        "file": "guideline/atomic-core/vendor/output-tab.js",
        "ctime": "2018-03-09T22:05:24.924Z",
        "mtime": "2018-03-09T22:05:24.924Z",
        "size": 449
      },
      {
        "file": "guideline/atomic-core/vendor/prequel.php",
        "ctime": "2018-03-09T22:05:24.928Z",
        "mtime": "2018-03-09T22:05:24.928Z",
        "size": 8225
      },
      {
        "file": "guideline/components/jsExample/clickme.php",
        "ctime": "2018-03-09T22:05:24.979Z",
        "mtime": "2018-03-09T22:05:24.979Z",
        "size": 83
      },
      {
        "file": "guideline/components/jsExample/test.php",
        "ctime": "2018-03-09T22:05:24.983Z",
        "mtime": "2018-03-09T22:05:24.983Z",
        "size": 66
      },
      {
        "file": "guideline/components/base/color.php",
        "ctime": "2018-03-09T23:43:41.320Z",
        "mtime": "2018-03-09T23:43:41.320Z",
        "size": 537
      },
      {
        "file": "guideline/components/base/font.php",
        "ctime": "2018-03-10T00:04:15.173Z",
        "mtime": "2018-03-10T00:04:15.173Z",
        "size": 199
      },
      {
        "file": "guideline/components/editor/skin.php",
        "ctime": "2018-03-10T00:12:22.827Z",
        "mtime": "2018-03-10T00:12:22.827Z",
        "size": 35
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}